body {
  font-family: 'Poppins', Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0075f6;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #0075f6;
  outline: none !important;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

/* 共用 */
.ftco-section {
  padding: 70px 0;
  position: relative;
}

.heading-section .subheading {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
}
.heading-section h2 span {
  font-weight: 400;
}
@media (max-width: 768px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

/* 選單 */
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
@media (max-width: 992px) {
  .ftco-navbar-light {
    background: #000000 !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.ftco-navbar-light .container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}
.ftco-navbar-light .navbar-brand {
  color: #000000;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
@media (max-width: 992px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #000000 !important;
}
@media (max-width: 992px) {
  .ftco-navbar-light:not(.awake) .navbar-brand:hover {
    color: #FFF !important;
  }
}
@media (max-width: 992px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  font-weight: 400;
  opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
@media (max-width: 1200px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    display: inline-block;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #0075f6;
  visibility: visible;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 992px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: #fff;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active {
  background: transparent;
  background: none;
  color: #0075f6;
}
.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 992px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #0075f6;
  }
}
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.ftco-navbar-light .navbar-toggler:hover,
.ftco-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: #0075f6;
  outline: none !important;
}
.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}
@media (max-width: 992px) {
  .ftco-navbar-light.scrolled .nav-item > .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important;
  }
}
.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #0075f6 !important;
}
@media (max-width: 992px) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}
.ftco-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.ftco-navbar-light.scrolled .nav-link {
  color: #000000 !important;
}
.ftco-navbar-light.scrolled .nav-link.active {
  color: #0075f6 !important;
}
.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled .navbar-brand {
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 24px;
}

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

/* Banner */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}
.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}
.owl-carousel.home-slider:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background: #043bd2;
  opacity: 1;
  content: '';
  z-index: -1;
}
.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1200px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}
.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}
.owl-carousel.home-slider .slider-item .slider-text {
  height: 750px;
  z-index: 0;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .one-third {
  width: 80%;
  position: relative;
  height: 650px;
  z-index: -1;
  -webkit-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
}
.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 100%;
    z-index: 0;
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
    opacity: 0.3;
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
    opacity: 0;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .one-forth {
  width: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1180px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 1em;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
  width: 100%;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 50%;
    padding-left: 45px;
    padding-right: 3em;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video {
  position: absolute;
  top: 120px;
  right: 70px;
  content: '';
  width: 70px;
  height: 70px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video span {
  font-size: 20px;
  color: #000000;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}
.owl-carousel.home-slider .slider-item .slider-text .text {
  position: relative;
  z-index: 1;
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
}
.owl-carousel.home-slider .slider-item .slider-text h1 span {
  font-weight: 800;
  color: #0075f6;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    color: #fff;
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}
.owl-carousel.home-slider .slider-item .slider-text h2 {
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text h2 {
    color: #fff;
  }
}
.owl-carousel.home-slider .slider-item .slider-text p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 23px;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .btn-custom {
  border: 1px solid #0075f6;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
.owl-carousel.home-slider .owl-nav {
  position: absolute;
  bottom: 60px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .owl-carousel.home-slider .owl-nav {
    display: none;
  }
}
.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff !important;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 1;
}
.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #000000;
}
.owl-carousel.home-slider .owl-nav .owl-prev {
  top: 0 !important;
  right: 0 !important;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-prev {
    right: 61px !important;
  }
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover,
.owl-carousel.home-slider .owl-nav .owl-prev:focus {
  background: #eaeaea !important;
  outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #0075f6;
}
.owl-carousel.home-slider .owl-nav .owl-next {
  top: 0 !important;
  right: 0 !important;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-next {
    right: 0 !important;
  }
}
.owl-carousel.home-slider .owl-nav .owl-next:hover,
.owl-carousel.home-slider .owl-nav .owl-next:focus {
  background: #eaeaea !important;
  outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
  font-size: 24px;
  margin-top: 7px;
  color: #0075f6;
}
.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-dots {
    display: none;
  }
}
@media (max-width: 768px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px;
  }
}
.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
.owl-carousel.home-slider .owl-dots .owl-dot.active {
  background: #fff;
}

.slider-text h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 992px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.slider-text .breadcrumbs {
  font-size: 16px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
}
.slider-text .breadcrumbs span {
  color: rgba(0, 0, 0, 0.8);
}
.slider-text .breadcrumbs span i {
  color: rgba(0, 0, 0, 0.8);
}
.slider-text .breadcrumbs span a {
  color: black;
}
.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
  color: #0075f6;
}
.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
  color: #0075f6;
}

.slider-text .bread {
  font-weight: 700;
  color: #000000;
}

/* 關於我 */
.ftco-about .img-about {
  width: 100%;
  z-index: 0;
  position: relative;
}
.ftco-about .img-about .overlay {
  width: 40%;
  height: 30%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
  background: #0075f6;
  margin-top: 40px;
  margin-left: -60px;
  opacity: 1;
}
.ftco-about .img-about .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
  box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
}

.services {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .icon {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .media-body h3 {
  font-size: 18px;
  font-weight: 500;
}

.block-6 {
  margin-bottom: 40px;
}
.block-6 .media-body p {
  font-size: 16px;
}

.ftco-counter .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
}

.ftco-counter .text {
  display: inline-block;
  -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
}
@media (min-width: 992px) {
  .ftco-counter .text {
    padding-left: 63px !important;
    margin-left: -63px;
  }
}
.ftco-counter .text p {
  font-size: 24px;
  line-height: 1;
}
.ftco-counter .text span.number {
  font-weight: 400;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.ftco-counter .text span {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

/* 專業技能 */
.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}
.progress-wrap h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.progress {
  height: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f0f0f0;
  overflow: visible;
}
.progress-bar {
  background: #0075f6;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.progress-bar span {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 20px;
  font-weight: 400;
}

/* 我的作品 Portfolio */
.filters {
  text-align: center;
}
.filters ul {
  padding: 0;
  margin: 0 0 30px 0;
}
.filters ul li {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.filters ul li:hover {
  color: #0075f6;
}
.filters ul li.active {
  color: #0075f6;
}
.filters-content {
  min-height: 800px;
}
@media (max-width: 992px) {
  .filters-content {
    min-height: auto;
  }
}
.single-portfolio {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
}
.single-portfolio > a {
  overflow: hidden;
  position: relative;
  display: block;
}
.single-portfolio > a:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: rgba(0, 0, 0, 0.5);
}
.single-portfolio > a img {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.single-portfolio > a:hover:before {
  visibility: visible;
  opacity: 1;
}
.single-portfolio > a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.single-portfolio > a:hover .contents {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}
.single-portfolio > a:hover .contents h3 {
  color: #ffffff;
}
.single-portfolio > a:hover .portfolio-text {
  color: #77b7ff;
}
.single-portfolio .contents {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}

/* 專業背景 */
.work {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}
.work h4 {
  font-size: 18px;
}
.work .resume-meta {
  font-size: 14px;
  vertical-align: middle;
}
.work .resume-meta .icon {
  margin-right: 4px;
  color: #ccc;
}
.work .period {
  margin-bottom: 7px;
}
.work .period > span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 7px 20px;
  border-radius: 30px;
  background: rgba(150, 187, 124, 0.1);
  color: #96bb7c;
}

/* 部落格 */
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
}

.blog-entry {
  position: relative;
}
@media (max-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
.blog-entry .text {
  width: 100%;
  margin: 0 auto;
}
.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500;
}
.blog-entry .text .heading a {
  color: #000000;
}
.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
  color: #0075f6;
}
.blog-entry .meta {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog-entry .meta span {
  color: #0075f6;
}
.blog-entry .meta a {
  color: #0075f6;
}
.blog-entry .meta a:hover {
  color: #0075f6;
}

/* Footer 頁尾 */
.ftco-footer {
  font-size: 16px;
  background: #fd7e00;
  z-index: 0;
}
.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a:hover {
  color: #fff;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

/* loading */
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}